*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(199, 227, 43);
}

section{
    width: 100%;
}

.container{

    color: white;
    width: 600px;
   background-color: black;
    padding: 20px 20px;
    border: 1px solid white;
    line-height: 2;
    margin: auto;
    
margin-top: 100px;
    box-shadow: 5px 5px;
    
}

.contents{
    width: 300px;
    margin: auto;
}

h1{
    text-align: center;
}

#inputs{
    width: 200px;
    padding: 10px 10px;
    border-radius: 15px;
    
}

label{
    font-size: 20px;
}

#paymentButton{
    background-color: rgb(131, 228, 121);
    width: 150px;
    font-size: 18px;
    padding: 8px 8px;
    
    border-radius: 15px;
}

p{
    font-size: 18px;
}